.contai {
  padding: 50px 0px;
  min-height: 150vh;
  background-color: rgb(51, 51, 51);
  .modal {
    .con {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
      background-color: #242424;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

      span {
        color: aliceblue;
        cursor: pointer;
        align-self: flex-end;
        font-size: 2rem;
        // margin-bottom: -20px;
      }
    }
    .titleModal {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-direction: row-reverse;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
      background-color: #242424;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      color: aliceblue;
      span {
        margin: 0px 0px 40px 0px;
        color: aliceblue;
        cursor: pointer;
        align-self: flex-end;
        font-size: 2rem;
        // margin-bottom: -20px;
      }
    }
  }
  .content {
    min-height: 80vh;
    background-color: #242424;
    margin: 50px 150px 0px 150px;
    padding: 10px;
    color: aliceblue;
    border-radius: 10px;

    .header {
      display: flex;

      .imga {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;
        margin-top: 2rem;
        .xp {
          margin: 10px 0px;
          button {
            margin: 5px;
            width: 100px;
            height: 40px;
            border-radius: 5px;
            border: none;
            background-color: var(--color-3);
            color: aliceblue;
            font-weight: 500;
            &:hover {
              background-color: #9c9393;
            }
            &:active {
              background-color: #612323;
            }
          }
        }
        img {
          width: 20vw;
          height: 60vh;
          border-radius: 15px;
        }
      }

      .context {
        width: 70%;
        color: aliceblue;
        .title {
          text-align: center;
          h1 {
            color: var(--color-3);
          }
        }
        .detail {
          table {
            width: 100%;

            th,
            td {
              padding: 8px;
              text-align: left;
              border: 1px solid gray;
            }
            td:first-child {
              color: var(--color-3);
            }
            th {
              background-color: #242424;
            }
          }
        }
      }
    }
  }
  .bodyy {
    min-height: 60vh;
    background-color: #242424;
    margin: 20px 150px;
    padding: 10px;
    color: aliceblue;
    border-radius: 10px;
    .nd {
      margin-bottom: 20px;
      h1 {
        padding: 5px 15px;
        border-radius: 8px;
        background-color: var(--color-3);
        font-size: 1.5rem;
        margin: 5px 0px;
      }
      i {
        padding: 20px;
        margin: 20px;
      }
    }
    .tp {
      .title {
        h1 {
          padding: 5px 15px;
          border-radius: 8px;
          background-color: var(--color-3);
          font-size: 1.5rem;
          margin: 5px 0px;
        }
        p {
          padding: 20px;
          margin: 5px 0px;
        }
      }
      .episodes {
        a {
          text-decoration: none;
          button {
            width: 3.65rem;
            height: 2rem;
            background-color: #883232;
            color: rgb(255, 255, 255);
            margin: 0.5rem 0.5rem;
            border: none;
            border-radius: 5px;
            &:hover {
              background-color: #9c9393;
            }
            &:active {
              background-color: #612323;
            }
          }
        }
      }
    }
  }
}
